/* Estilos de plataforma Derechos Humanos */

p{
    text-align: justify;
}

.header{
	background: #2A2164;
	background-image: url('../img/header.jpg');
	height:420px;
	text-align: center;
	color:#ffffff;
	width:101vw;
}

.cuadro-derechos{
	width:100%;
	height:285px;
	display:flex;
	float:left;
	align-items: center;
}

.cuadro-derechos h2{
	color:#ffffff;
	line-height: 48px;
	text-align: center;
}

.cuadro-derechos p{
	color:#ffffff;
}

.cuadro-derechos img{
    width:150px;
    text-align: center;
    margin:0 auto;
}

.cuadro-derechos div{
	position: relative;
	width: 80%;
	padding:5px 15px;
	margin:auto;
}

.d1{
	background:#242354 !important;
}

.d2{
	background: #bb706a !important;
}

.d3{
	background: #a1b5c0 !important;
}

.d4{
	background: #4749a0 !important;
}

.d5{
	background: #b4496a !important;
}

.d6{
	background: #5d5fab !important;
}

.d7{
	background: #bce2e7 !important;
}

.d8{
	background: #98385c !important;
}

.b1{
	background: url('../img/b1.jpg') #242354;
}

.b2{
	background: url('../img/b2.jpg') #bb706a;
}

.b3{
	background: url('../img/b3.jpg') #a1b5c0;
}

.b4{
	background: url('../img/b4.jpg') #4749a0;
}

.b5{
	background: url('../img/b5.jpg') #b4496a;
}

.b6{
	background: url('../img/b6.jpg') #5d5fab;
}

.b7{
	background: url('../img/b7.jpg') #bce2e7;
}

.b8{
	background: url('../img/b8.jpg') #98385c;
}

.desactivado{
	filter: contrast(0.5);
}

.titulo-header{
	top:100px;
	position: relative;
}

.titulo-header h1{
	font-size: 48px;
	margin-top: 80px;
	
}

.seccionInfo{
	background: white;
	border: 1px solid #eeeeee;
	border-radius: 3px 3px 0 0;
	margin: 10px 0 30px 0;
	moz-border-radius: 3px 3px 0 0;
	padding: 25px 25px;
	position: relative;
	webkit-border-radius: 3px 3px 0 0;
}


/* Derechos */

.internoDerecho{
	padding:30px 30px;
	border:1px solid #ccc;
}

.internoDerechoMatriz{
	padding:30px 30px;
	border:1px solid #ccc;
}

.tipoIndicador{
	width: 25px;
	height: 25px;
	border-radius: 12px;
	font-size: 18px;
	color: #ffffff;
	text-align: center;
}

.colorR{
	background:#ffcc00;
}

.colorE{
	background:#34AAE0;
}

.colorP{
	background:#E20514;
}

.arrow-up {
	width: 8px;
	height: 11px;
	border-left: 20px solid #83838300;
	border-right: 20px solid #89878700;
	border-bottom: 20px solid #878787;
	z-index: 999;
	position: absolute;
	bottom: 0;
	margin-bottom: -27px;
	left: 45%;
}

.none{
	display:none;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.alinea-derecha{
    text-align: right;
    position: relative;
    margin-bottom: 10px;
    margin-right: 2px;
}

.valores{
    color:#000000;
    font-family: 'Helvetica Neue', sans;
    font-size: 13px;
}

.valor {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 5px;
  font: 14px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

/* PARA ANIMAR GráFICA DE LINEA */

.line {
    fill: none;
    /*stroke: #aaa;
    stroke: #43484c;
    stroke: #405275;
    stroke: rgba(40, 53, 79, .95);
    stroke: #161719;
    stroke: #f99e1a;*/
    stroke: #a1b5c0;
    stroke-width: 5px;
    stroke-dasharray:1400;
    stroke-dashoffset: 1400;
    animation: dash 3.5s 1 linear normal;
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation-fill-mode: forwards;


}

@keyframes dash{
    0%{
        stroke-dashoffset: 1400;
    }
    100%{
        stroke-dashoffset:  0;
    }
}


.toolTip {
  position: absolute;
  display: none;
  min-width: 50px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #a1b5c0;
  padding: 5px;
  text-align: center;
    font-size: 12px;
}

.alert{
    margin-top: 45px !important;
    margin-bottom: 0px !important;
}

.matrizCol{
    width:31.5%;
    display:inline-grid;
    border: 1px solid #999;
    margin-right: 25px;
}

.matrizCol:last-child{
    margin-right: 0px;
}

.matrizCol div:nth-child(1){
    border-bottom: 1px solid #999;
    vertical-align: middle;
}

.matrizCol div{
    padding:10px;
    border-bottom: 1px solid #999;
}

.matrizCol div span{
    display: inline;
    float: left;
    margin-left: 15px;
}

.alineaTipoInd{
    clear: none;
    display: inline;
    float: left;
}


.botoneraTipos{
    margin-left: 7%;
}

.botoneraTipos a {
    width: 27%;
    margin-right: 6.2%;
}


#accordions .collpase-button.collapsed::after, #accordions .collpase-button::before{
    background-color: #fff !important;
}

#accordions .collpase-button{
    border: 1px solid #fff !important;
}